<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
    <h4 th:if="${flag}" th:style="'color:red'" th:text="#{member.authentication.error}"></h4>
    <div>
        <label for="member" th:text="#{label.member.name}">작성자</label>
        <input type="text" id="member" name="member" class="form-control" value="10000" th:value="${order.memberName}" readonly>
    </div>
    <div th:each="orderItem : ${order.orderItems}">
        <div>
            <label th:text="주문상품"></label>
            <br>
            <label th:text="상품명"></label>
            <input type="text" id="itemName" class="form-control" th:value="${orderItem.itemName}" readonly>
            <label th:text="가격"></label>
            <input type="text" id="price" class="form-control" th:value="${orderItem.price}" readonly>
            <label th:text="수량"></label>
            <input type="text" id="amount" class="form-control" th:value="${orderItem.count}" readonly>
        </div>
    </div>
    <div>
        <label for="delivery" th:text="배송상태"></label>
        <input type="text" id="delivery" name="delivery" class="form-control" value="10000" th:value="${order.deliveryStatus}" readonly>
    </div>
    <div>
        <label for="localDateTime" th:text="주문일"></label>
        <input type="text" id="localDateTime" name="localDateTime" class="form-control" value="10000" th:value="${order.localDateTime}" readonly>
    </div>
    <div>
        <label for="orderStatus" th:text="주문상태"></label>
        <input type="text" id="orderStatus" name="orderStatus" class="form-control" value="10000" th:value="${order.orderStatus}" readonly>
    </div>
    <div th:replace="~{fragments/footer :: footer}" />
</div>
</body>
</html>