<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
    <form th:action th:method="get">
        <label for ="name">이름</label>
        <input th:type="text" id="name" name="name">
        <input th:type="submit" th:value="검색">
    </form>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>email</th>
                <th>생년월일</th>
                <th>주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="member.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.name}">이름</a></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.getBirth()}"></td>
                <td th:text="${member.getAddress().getAddress()}"></td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page:${#numbers.sequence(0,(members.getTotalPages()-1 ge 0 ? members.getTotalPages()-1 : 0))}">
            <a th:if="${page != pageable.getPageNumber()}" th:href="@{/members(page=${page})}" th:text ="${page}+1"></a>
            <strong th:if="${page== pageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
        </th:block>
    </div>`
    <div th:replace="~{fragments/footer :: footer}" />
</div> <!-- /container -->
</body>
</html>