<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}" />
    <form th:action="@{/items/{itemId}/delete(itemId=${item.id})}" th:object="${item}" method="post">
    <div>
        <label for="id" th:text="#{label.item.id}">id</label>
        <input type="text" id="id" name="id" class="form-control" value="10000" th:value="*{id}" readonly>
    </div>
    <div>
        <label for="name" th:text="#{label.item.name}">이름</label>
        <input type="text" id="name" name="name" class="form-control" value="10000" th:value="*{name}" readonly>
    </div>
    <div>
        <label for="member" th:text="#{label.item.member}"></label>
        <input type="text" id="member" name="member" class="form-control" value="10000" th:value="*{memberName}" readonly>
    </div>
    <div>
        <label for="price" th:text="#{label.item.price}"></label>
        <input type="text" id="price" name="price" class="form-control" value="10000" th:value="*{price}" readonly>
    </div>
    <div>
        <label for="stock" th:text="#{label.item.stock}"></label>
        <input type="text" id="stock" name="stock" class="form-control" value="10000" th:value="*{stockQuantity}" readonly>
    </div>
    <div><button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/items/{itemId}/edit(itemId=${item.id})}'| "type="button">상품수정</button></div>
        <div><button class="w-100 btn btn-secondary btn-lg" id="delete-button" type="submit">상품삭제</button></div>
    <div th:replace="~{fragments/footer :: footer}" />
    </form>
</div>
</body>
</html>