<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>

<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

    <div>
        <form th:action th:object="${itemSearch}">
            <label>
                <select th:field="*{category}" id = "category">
                    <option  value="" >==카테고리==</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">카테고리</option>
                </select>
            </label>
            <label>
                <input th:field="*{name}" />
            </label>
            <button th:type="submit">전송</button>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>상품 사진</th>
                <th>상품명</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><img th:each="imageFile : ${item.imageFiles}" th:src="|/images/${imageFile.getStoreFileName()}|" width="300" height="300"/></td>
                <td><a href="item.html" th:href="@{items/{itemId}(itemId=${item.id})}" th:text="${item.name}">상품상세</a></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page:${#numbers.sequence(0,(items.getTotalPages()-1 ge 0 ? items.getTotalPages()-1 : 0))}">
            <a th:if="${page != pageable.getPageNumber()}" th:href="@{/items(page=${page})}" th:text ="${page}+1"></a>
            <strong th:if="${page== pageable.getPageNumber()}" th:text ="${page}+1" style="color:red"></strong>
        </th:block>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>

</div> <!-- /container -->

</body>
</html>
